@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("../img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: scroll;
}

.navbar {
    max-width: 1366px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 18px auto;
    color: #112456;
}

.main {
    max-width: 1366px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.left_container {
    flex-basis: 18.75rem;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.left_container .container {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: .625rem;
    margin-bottom: 1.8rem;
    padding: .5rem;
}

.profile,
.add_book {
    margin: 1.125rem auto;
    text-align: center;
    color: #112456;
}

.profile .user_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem;
}

.profile .user_bio {
    text-align: left;
    margin-left: 1rem;
}

.profile .number_book,
.add_book .new_book {
    margin-bottom: .9rem;
}

.add_book .formAddBook {
    width: 85%;
    height: 2rem;
    margin-bottom: 15px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.56);
    border: 1px solid rgba(255, 255, 255, 0.56);
    border-radius: 5px;
}

.checkboxBook {
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    padding: 5px;
    margin: 0 auto 15px;
    color: #112456;
}

.inputCheckbox {
    width: 1.5rem;
    height: 1.5rem;
}

.add_book #btnAdd {
    width: 40%;
    height: 2rem;
    margin: 0;
}

.right_container {
    width: 70%;
    margin-right: 2.5rem;
}

.right_container .form_element input {
    margin-bottom: .9rem;
    padding: .3rem;
    background-color: rgba(255, 255, 255, 0.56);
    border: 1px solid rgba(255, 255, 255, 0.56);
    border-radius: .3rem;
}

.right_container .form_element #inputTitle {
    width: 28.5rem;
    height: 2rem;
}

.right_container .form_element #btnSearch {
    width: 4.8rem;
}

.right_container .container {
    display: flex;
    justify-content: space-between;
}

.book_container {
    width: 49%;
    border-radius: .6rem;
}

.book_container .container_header {
    text-align: center;
    padding: .5rem;
    border-bottom: 2px solid#000;
}

.item {
    border-radius: .6rem;
    margin: 1rem;
    padding: 1.125rem 1.5rem;
    background: rgba(255, 255, 255, 0.20);
    display: flex;
    align-items: center;
}

.item .detail_book {
    margin-left: 2rem;
}

.item .detail_book h4 {
    margin: .3rem 0;
}

.check-button {
    background: url('../img/check.svg');
    background-size: contain;
    width: 1.8rem;
    height: 1.8rem;
    border: none;
    margin-left: auto;
}

.trash-button {
    background: url('../img/trash.svg');
    background-size: contain;
    width: 1.8rem;
    height: 1.8rem;
    margin-left: 1rem;
    cursor: pointer;
    border: none;
}

.undo-button {
    background: url('../img/undo.svg');
    background-size: contain;
    width: 1.8rem;
    height: 1.8rem;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.scrolltop {
    position: fixed;
    left: 2.5rem;
    bottom: -20%;
    padding: .3rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: .3rem;
    transition: .4s;
    visibility: hidden;
}

.search_book {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search {
    width: 49%;
    border-radius: .6rem;
    margin-bottom: 1rem;
    padding: 1.125rem 1.5rem;
    background: rgba(255, 255, 255, 0.20);
    display: flex;
    align-items: center;
}

.search .detail_book {
    margin-left: 2rem;
}

.search .detail_book h4,
.search .detail_book p {
    margin-top: .3rem;
}

.show-scroll {
    visibility: visible;
    bottom: 1.5rem;
}

@media screen and (max-width: 1255px) {
    .main {
        flex-direction: column;
    }

    .left_container {
        display: flex;
        justify-content: space-between;
        margin: 1.5rem 1.5rem 0;
    }

    .left_container .container {
        width: 49%;
        margin: 0;
    }

    .checkboxBook {
        justify-content: start;
    }

    .checkboxBook .inputCheckbox {
        margin-left: 1rem;
    }

    .right_container {
        width: auto;
        margin: 1.5rem 1.5rem 0;
    }
}

@media screen and (max-width: 850px) {
    .right_container .container {
        flex-direction: column;
    }

    .book_container {
        width: auto;
        margin-bottom: 1.5rem;
    }

    .search {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .left_container {
        flex-direction: column;
    }

    .left_container .container {
        width: auto;
        margin-bottom: 1.5rem;
    }
}